@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --font-lato: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-lato);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.login-page {
  width: 100%;
  max-width: 350px;
  margin: 60px auto 0;
  padding: 0 24px;
}

.login-page h1 {
  font-weight: 700;
}

.login-page p {
  color: #707070;
}

.login-page form {
  margin-top: 60px;
}
